{% extends 'base.html' %}
{% load static %}
{% block title %}Cart{% endblock %}
{% block content %}
<div class="row">
	<div class="col-lg-12">
		<div class="box-element">
			<a class="btn btn-outline-dark" href="{% url 'category' %}">&#x2190; Continue Shopping</a>
			<br>
			<br>
			<table class="table">
				<tr>
					<th>
						<h5>Items: <strong>{{get_cart_items_total}}</strong></h5>
					</th>
					<th>
						<h5>Total:<strong> Rs.{{get_cart_total_cost}}</strong></h5>
					</th>
					<th>
						<a style="float:right; margin:5px;" class="btn btn-success"
							href="{% url 'checkout' %}">Checkout</a>
					</th>
				</tr>
			</table>
		</div>
		<br>
		<div class="box-element">
			<table class="table">
				<thead>
				  <tr>
					<th scope="col">Item</th>
					<th scope="col">Price</th>
					<th scope="col">Quantity</th>
					<th scope="col">Total</th>
					<th scope="col">Delete</th>
				  </tr>
				</thead>
				<tbody>
				{% for item in items %}
				  <tr>
					<th scope="row">{{item.product.name}}</th>
					<td>{{item.product.price}}</td>
					<td><strong>{{item.quantity}}</strong> 
						<div class="quantity">
							<a href="{% url 'increase_quantity' item.id %}">
								<img class="chg-quantity" src="{% static  'images/arrow-up.png' %}">
							</a>
							<a href="{% url 'decrease_quantity' item.id %}">
								<img class="chg-quantity" src="{% static  'images/arrow-down.png' %}">
							</a>
						</div>
					</td>
					<td>Rs.{{ item.get_total }}</td>
					<td>
						<a style="text-decoration: none;" href="{% url 'destroy' item.id %}">Delete</a>
					</td>
				  </tr>
				{% endfor %}  
				</tbody>
			  </table>
		</div>
	</div>
</div>
{% endblock %}