{% extends 'base.html' %}

{% load crispy_forms_filters %}

{% block title %}Password Reset{% endblock %}


{% block content %}

<div class="container my-5">
  <div class="row">
    <div class="col-md-8">
      <h3>Password Reset</h3><br>

      <p>Forgotten your password? Enter your email address below, and we’ll email instructions
        for setting a new one.</p>
      <br> 
      <div class="row">
        <div class="col-md-6">
          <form method="POST">
            {% csrf_token %}
            {{form|crispy}}
            <button class="btn btn-outline-dark text-center mt-4" name="Send Email" type="submit">
              Reset Password
            </button>
          </form>
        </div>
      </div>

    </div>

  </div>


</div>
{% endblock %}