{% extends 'base.html' %}
{% load static %}


{% block title %}Store{% endblock %}

{% block search %}
{% include 'search.html' %}
{% endblock %}

{% block content %}


<h2 class="text-dark text-center mt-3">{{category.name}}</h2>
<div class="row mb-5">
    {% for item in product %}
    <div class="col-lg-4">
        <img class="thumbnail" src="{{item.imageUrl}}" alt="">
        <div class="box-element product">
            <h6><strong>{{item.name}}</strong></h6>
            <a class="btn btn-outline-secondary" href="{% url 'addtocart' item.id %}">Add to Cart</a>
            <a class="btn btn-outline-success" href="{% url 'view' item.id %}">Buy Now</a>
            <h4 style="float:right;"><strong>Rs{{item.price}}</strong></h4>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}