{% extends 'base.html' %}

{% block title %}Login{% endblock %}


{% block content %}



<div class="container my-5">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="card bg-secondary">
        <div class="card-header bg-secondary text-light">
          <h3 class="text-center text-light">Login</h3>
        </div>
        <div class="card-body bg-light text-dark">
          <form action="{% url 'login' %}" method="POST" class="form-group">
            {% csrf_token %}
            <div class="mb-3">
              <label class="form-label">User Name</label>
              <input style="border: solid 1px black;" type="text" autocomplete="off" name="username"
                class="form-control" placeholder="Enter User Name">
            </div>
            <div class="mb-2">
              <label class="form-label">Password</label>
              <input style="border: solid 1px black;" type="password" autocomplete="off" name="password"
                class="form-control" placeholder="Enter Password">
            </div>

            <div class="mb-2" >
              New User?
              <a style="text-decoration: none;" href="{% url 'register' %}">Register Here</a>
            </div>
            <div class="mb-2">
              Forgot Password ?
              <a style="text-decoration: none;" href="{% url 'reset_password' %}">Click here to reset.</a>
            </div>

            <div class="mb-2">
              {% if messages %}
              {% for message in messages %}
              <h4 class="text-secondary">{{message}}</h4>
              {% endfor %}
              {% endif %}

            </div>
            <div class="text-center mb-3">
              <button class="btn btn-outline-dark text-center mt-4" type="submit">
                Login
              </button>
            </div>
          </form>

        </div>


      </div>
    </div>

    <div class="com-md-2"></div>
  </div>
</div>


{% endblock %}