{% extends 'base.html' %}

{% load static %}


{% block title %}Thank You{% endblock %}

{% block content %}

<div class="container justify-content-center align-items-center p-5 my-5">
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-8">
        <img class="my-5 text-center" src="{% static 'images/ok.png' %}" alt="thankyou..">
      </div>
    </div>
  
    <h1 class="mb-5  text-center">Payment Success</h1>
    <h4>Congradulations! You have successfully done the payment. Your order will resch you in 5 days.</h4>
  
  </div>



{% endblock %}