{% extends 'base.html' %}
{% load static %}

<head>
	{% block title %}View{% endblock %}

</head>
{% block content %}

<div class="row">
	<div class="col-lg-12">
		<div class="box-element">

			<a class="btn btn-outline-dark" href="{% url 'category' %}">&#x2190; Continue Shopping</a>

			<br>
			<br>

			<table class="table">
				<tr>
					<th>
						<h5>Items: <strong>1</strong></h5>
					</th>
					<th>
						<h5>Total:<strong> Rs.{{total_cost}}</strong></h5>
					</th>
					<th>
						<a style="float:right; margin:5px;" class="btn btn-success"
							href="{% url 'buy' product.id %}">Buy Now</a>
					</th>
				</tr>
			</table>

		</div>
		<br>
		<div class="box-element">
			
			<hr>
			<h3>Order Summary</h3>
			<hr>
			<div class="cart-row">
				<div style="flex:2">
					<p><strong>Product</strong></p>
				</div>
				<div style="flex:2">
					<p><strong>Product Name</strong></p>
				</div>
				<div style="flex:1">
					<p><strong>Price</strong></p>
				</div>
				<div style="flex:1">
					<p><strong>Quantity</strong></p>
				</div>
				<div style="flex:1">
					<p><strong>Total</strong></p>
				</div>
			</div>
			<div class="cart-row">
				<div style="flex:2">
					<img class="row-image" src="{{product.imageUrl}}">
				</div>
				<div style="flex:2">
					<p>{{order_item.product.name}}</p>
				</div>
				<div style="flex:1">
					<p>{{order_item.product.price}}</p>
				</div>
				<div style="flex:1">
					<p>
						{{order_item.quantity}}
						
							<a href="{% url 'increasequantity' product.id %}">
								<img class="chg-quantity" src="{% static  'images/arrow-up.png' %}">
							</a>
							<a href="{% url 'decreasequantity' product.id %}">
								<img class="chg-quantity" src="{% static  'images/arrow-down.png' %}">
							</a>
						</div>
					</p>
				</div>
				<div style="flex:1">
					<p>Rs.{{ order_item.get_total }}</p>
				</div>	
			</div>
		</div>
	</div>
</div>
{% endblock %}